html{
    background-color: black;
    width:100vw;
    height:100vh;
}



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 65px;
    top:0;
}
.uc{
    color:white;
    font-family: 'Raleway', sans-serif;
    margin-top:20px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 200;
}



.foot{
    color:white;
    position: fixed;
    top:10px;
    right:20px;
    font-family: 'Raleway', sans-serif;
    font-size:15px;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.bold{
    font-weight: 500;
}
.textoAbout{
    width:500px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
    margin-top:50px;
}
.texto{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.menu{
    text-align: center;
}
#opcao{
    margin-bottom:100px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    border: 1px solid white;
    border-radius:20px;
    width:150px;
    height:50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
}


.selection{
    background-color:white;
    color:black;
}

a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:black;
}


iframe{
    border:0;
}
/* zona_VIDEOS */
.videos{
    text-align: center;
    width:1000px;
    margin: auto;
    margin-top:150px;
    border:0;
    margin-bottom: 120px;
}

/* VIDEOS_INDIVIDUAIS */
.videos iframe{
  margin: 30px;
}